.dropdown {
    margin-top: 28px;
    color: black;
    text-align: left;
    cursor: pointer;
}

.dropdown div:hover,
.dropdown div:focus {
    border-color: #1B2D3B;
    transition: 0.2s border ease-in-out;
    box-shadow: none;
}

dropdown div {
    box-shadow: none;
}

.dropdown div:hover svg {
    fill: #1B2D3B;
}
