.forecast {
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 100vh;
    padding: 36px 48px;
    color: white;
    font-size: calc(10px + 2vmin);
}

.info {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    padding: 28px;
    background: #1B2D3B;
    border-radius: 8px;
    border: solid 2px white;
    margin-top: 28px;
    min-height: 220px;
}

.info h1 {
    margin: 0 0 10px 0;
}

.inner-info {
    font-size: 18px;
}

.Cloudy.Day {
    background-color: #416772;
}

.Cloudy.Night {
    background-color: #0D303D;
}

.Sunny.Day {
    background-color: #63A5DB;
}

.Sunny.Night {
    background-color: #001B70;
}

.Hazy.Day {
    background-color: #82989E;
}

.Hazy.Night {
    background-color: #25292A;
}
